<% layout("boilerplate/boilerplate") %>
<div class="show-div">
    <div class="div-1">
        <img class="userImage" src="https://png.pngtree.com/element_our/20200610/ourmid/pngtree-character-default-avatar-image_2237203.jpg" alt="Image">

    </div>
  
    <div class="div-2">
        <h3>Name: <%= employee.name %></h3>
        <h3>Email: <%= employee.email %></h3>
        <h3>Mobile No: <%= employee.number %></h3>
        <h3>Designation: <%= employee.designation %></h3>
        <h3>Gender: <%= employee.gender %></h3>
        <h3>Course: <%= employee.course %></h3>
    </div>
</div>